- service: service_1
  component: component_1
  operation: remove
- service: service_1
  component: component_1
  operation: add
- service: service_1
  component: component_2
  operation: remove
- service: service_1
  component: component_2
  operation: add
