- name: first_stage
  display_name: "First stage"
  steps:
    - name: stage1_step1
      display_name: "Stage1.OperationStep1"
      required: false
      ui_options:
        button_name: ButtonName
      scripts_template:
        file:
          path: wizard_jinja/steps/s3_script.py
          entrypoint: generate_scripts_fail
        engine:
          type: python
