name: Run Linters
on: 
  workflow_call:
jobs:
  lint-python:
    name: Lint Python Code
    runs-on: ubuntu-latest
    env:
      CODE_DIRS: "adcm_aio_client tests"
    steps:
      - name: Install poetry
        run: python -m pip install poetry
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: poetry install --with dev --no-root
      - name: Run ruff lint check
        run: poetry run ruff check $CODE_DIRS
      - name: Run ruff format check
        run: poetry run ruff format --check $CODE_DIRS
      - name: Run pyright check
        run: poetry run pyright $CODE_DIRS

